*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 90%;
    margin-inline: auto;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./image/gambar bu desi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation {
    width: 100%;
    padding: 10px 0 10px 0;
}

.navigation .box-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation .box-navigation .box h1 img{
    width: 80px;
    margin-top: 8px;
}

.navigation .box-navigation .box:nth-child(1) h1{
    font-size: 38px;
    color: white;
}

.navigation .box-navigation .box:nth-child(2) ul{
    display: flex;
    flex-direction: row;
}

.navigation .box-navigation .box:nth-child(2) ul li{
    list-style-type: none;
    margin-left: 40px;
}

.navigation .box-navigation .box:nth-child(2) ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover{
    color: greenyellow
}

.navigation .box-navigation .box:nth-child(3) {
    display: none;
}

.navigation .box-navigation .box:nth-child(2) ul li i{
    display: none;
}

/* hero style */
header .hero{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}

header .hero h1{
    color: rgba(255, 255, 255, 0.836);
    font-size: 50px;
    text-align: center;
}


/* about style */
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f4f1de;
}

.about .box-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about .box-about .box:nth-child(1){
    padding-right: 30px;
}

.about .box-about .box:nth-child(2) img{
    border-radius: 10px;
    -webkit-radius: 10px;
    -moz-radius: 10px;
    -ms-radius: 10px;
    -o-radius: 10px;
    width: 600px;
}

/* famous style */
.famous {
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 0;
    display: flex;
    align-items: center;
    background-color: #1d3557;
}

.famous .box-famous{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
}

.famous .box-famous .box{
    text-align: center;
    margin-inline: 50px;
    align-items: center;
    color: white;
    margin-bottom: 80px;
}

.famous .box-famous .box img {
    width: 450px;
    border-radius: 10px;
    -webkit-radius: 10px;
    -moz-radius: 10px;
    -ms-radius: 10px;
    -o-radius: 10px;
    margin-bottom: 10px;
}

/*-- gallery Style --*/
.gallery{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f4f1de;
    align-items: center;
}

.gallery .box-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery .box-gallery img{
    width: 300px;
    height: 200px;
    margin: 10px;
}


/* contact Style */
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #1d3557;
    color: white;
}

.contact .box-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact .box-contact h1{
    font-size: 50px;
    font-weight: 700;
}

.contact .box-contact form table tr {
    display: flex;
    flex-direction: column;
}

/*.contact .box-contact .box h1{
    font-size: 23px;
    font-weight: bold;
}

.contact .box-contact .box p{
    font-weight: bold;
} */

.contact .box-contact form table tr td h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact .box-contact form table tr td p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact .box-contact form table tr td a{
    color: white;
    /*text-decoration: none;*/
}

.contact .box-contact form table tr td a:hover{
    color: greenyellow;
}

/* footer style */
footer{
    background-color: #f4f1de;
}

footer p{
    text-align: center;
    padding: 18px 0 18px 0;
}



@media screen and (max-width: 1200px) {
    .about .box-about .box:nth-child(2) img{
        width: 500px;
    }
}

.about .box-about .box:nth-child(1) h1{
    font-size: 42px;
    margin-bottom: 20px;
}

.about .box-about .box:nth-child(1) p{
    line-height: 2;
}

@media screen and (max-width: 990px){
    .navigation .box-navigation .box:nth-child(2){
        display: flex;
        position: absolute;
        top: 50px;
        right: 50px;
        background-color: white;
        width: 250px;
        border-radius: 10px;
        -webkit-radius: 10px;
        -moz-radius: 10px;
        -ms-radius: 10px;
        -o-radius: 10px;
        opacity: 0;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .navigation .box-navigation .menu-navigation.menu-active{
        opacity: 1;
        top: 100px;
    }

    .navigation .box-navigation .box:nth-child(2) ul{
        flex-direction: column;
    }

    .navigation .box-navigation .box:nth-child(2) ul li{
        margin-top: 13px;
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        margin-left: 0;
    }

    .navigation .box-navigation .box:nth-child(2) ul li a{
        color: black;
    }

    .navigation .box-navigation .box:nth-child(3) {
        display: flex;
        align-items: center;
    }

    .navigation .box-navigation .box:nth-child(3) i{
        font-size: 24px;
    }

    .navigation .box-navigation .box:nth-child(2) ul li i{
        margin-inline: 10px;
        font-size: 24px;
        display: inline-block;
    }

    header .hero h1 {
        font-size: 34px;
    }

    .about .box-about {
        flex-direction: column-reverse;
    }

    .about .box-about .box:nth-child(1){
        text-align: center;
        margin-top: 30px;
        padding-right: 09;
    }

    .about .box-about .box:nth-child(2) img{
        width: 400px;
    }

    .famous {
        height: 100%;
        padding-top: 50px;
      }

    .famous .box-famous {
        flex-direction: column;
    }

    .famous .box-famous .box {
        margin-bottom: 50px;
    }

    .famous .box-famous .box img {
        width: 300px;
      }
}

@media screen and (max-width: 768px) {
    header .hero h1{
        font-size: 35px;
    }

    .gallery{
        height: 100%;
        padding: 50px 0 50px 0;
    }

    .contact{
        height: 100%;
        padding: 100px 0 100px 0;
    }

    .contact .box-contact {
        flex-direction: column;
    }

    .contact .box-contact h1{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 575px) {
    .about .box-about .box:nth-child(1) h1{
        font-size: 34px;
    }

    .about .box-about .box:nth-child(1) p{
        font-size: 14px;
    }

    .about .box-about .box:nth-child(2) img{
        width: 300px;
    }

    .famous .box-famous .box img{
        width: 250px;
    }

    .famous .box-famous .box h1{
        font-size: 18px;
    }

    .famous .box-famous .box p{
        font-size: 14px;
    }

    .contact .box-contact h1{
        font-size: 20px;
    }

    .contact .box-contact form table tr td p{
        padding: 10px 50px 15px 20px;

    }
}

@media screen and (max-width: 475px) {
    header .hero h1{
        font-size: 20px;
    }

    .about .box-about .box:nth-child(1) h1{
        font-size: 28px;
    }

    .about .box-about .box:nth-child(1) p{
        font-size: 12px;
    }

    .about .box-about .box:nth-child(2) img{
        width: 250px;
    }
}

@media screen and (max-width: 375px) {
    .navigation .box-navigation .box:nth-child(2){
        right: 30px;
    }
    .navigation .box-navigation .menu-navigation.menu-active{
        right: 30px;
    }

    .about .box-about .box:nth-child(1) h1{
        font-size: 24px;
    }

    .about .box-about .box:nth-child(1) p{
        font-size: 10px;
    }

    .about .box-about .box:nth-child(2) img{
        width: 200px;
    }

    .famous .box-famous .box img{
        width: 200px;
    }

    .famous .box-famous .box h1{
        font-size: 16px;
    }

    .famous .box-famous .box p{
        font-size: 12px;
    }

    .contact{
        padding: 120px 0 120px 0;
    }

    .contact .box-contact h1{
        font-size: 24px;
    }

    .contact .box-contact form table tr td input{
        padding: 10px 40px 15px 20px;
    }
}
